*.patch
*_dump.sql
.DS_Store
.bundle
.rvmrc
config/*.yml
db/devinsampa_test.db
db/dump/
log
public/divulgar.html
public/googlehostedservice.html
public/images/speakers
public/index.html
public/palestrantes.html
public/programacao.html
public/system
REVISION
tmp
