log
tmp
config/database.yml
.DS_Store
public/images/speakers
config/mailer.yml
config/pagseguro.yml
REVISION
public/divulgar.html
public/googlehostedservice.html
public/index.html
public/palestrantes.html
public/programacao.html
public/system
db/dump/
