*.patch
*_dump.sql
.bundle
.DS_Store
.rvmrc
config/*.yml
db/*.db
log/*.log
public/divulgar.html
public/googlehostedservice.html
public/images/speakers
public/index.html
public/palestrantes.html
public/programacao.html
public/system
REVISION
tmp
