* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: "Lucida Grande", arial, verdana, sans-serif;
  line-height: 1.6;
  background: #fff;
}

a span {
  display: none;
}

/*****  Commons settings *****/
fieldset { border: 0; }
legend { display: none; }
a { text-decortion: underline; }
  a:hover { text-decoration: none; }
  a img { border: 0; }

/***** Helpers *****/
.clearfix { height: 1%; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#container {
  width: 980px;
  margin: 0 auto;
}

#header {
  position: relative;
  width: 980px;
  height: 150px;
  margin: 10px auto;
  padding-top: 20px;
}

#header h1 div#title-name {
  background-image:url("/images/logo_dev.jpg");
  background-repeat:no-repeat;
  height:135px;
}

#header h1 div#title-when {
  background-image:url("/images/banner_data.jpg");
  background-repeat:no-repeat;
  background-position: right;
  margin: -90px 0px;
  height:135px;
}

#header img.banner-data {
  position: absolute;
  top: 90px;
  right: 0;
}

#menu {
  height: 70px;
  background: #666 url('/images/bg_menu.jpg') repeat-x;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #ccc;
  margin: 15px 0 50px 0;
}

ul#navigation {
  width: 980px;
  list-style: none;
  font-size: 12pt;
  margin: 0 auto;
  padding: 0 10px;
}

ul#navigation li {
  display: block;
  float: left;
  margin-right: 25px;
}

ul#navigation li.selected {
  color: #fff;
  background: #666;
  padding: 10px 7px;
}

ul#navigation li.selected a {
  padding: 0;
  color: #fff;
}

ul#navigation li.selected a:hover {
  padding: 0;
  background: #666;
}

ul#navigation li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 7px;
}

ul#navigation li a:hover {
  color: #fff;
  background: #666;
}

#sidebar {
  width: 200px;
  float: right;
}

#sidebar #i-want div {
  background-image:url("/images/ico_patrocinio.jpg");
  background-repeat:no-repeat;
  height:67px;
}

#sidebar #guru-sp a div {
  background-image:url("/images/logo_guru.png");
  background-repeat:no-repeat;
  height:130px;  
}

#sidebar #eu-vou-no-twitter a div {
  background-image:url("/images/banner_dev_in_sampa.jpg");
  background-repeat:no-repeat;
  height:67px;  
}

#sidebar h3 {
  font-size: 12pt;
  color: #F03900;
  border-bottom: 1px dotted #ccc;
  margin: 30px 0 10px 0;
}

#sidebar h3.first {
  margin: 0 0 10px 0;
}

#sidebar a.twitter {
  display: block;
  height: 33px;
  font-size: 12pt;
  color: #333;
  text-decoration: none;
  background: url('/images/ico_twitter.jpg') left center no-repeat;
  padding: 2px 0 0 35px;
  margin-bottom: 20px;
}

#sidebar a.twitter:hover {
  text-decoration: underline;
}

#sidebar ul.twitter-list {
  list-style: none;
}

#sidebar ul.twitter-list li {
  margin-bottom: 5px;
}

#sidebar ul.twitter-list li a {
  display: block;
  height: 20px;
  font-size: 10pt;
  text-decoration: none;
  color: #333;
  background: url('/images/ico_twitter_list.jpg') 0 3px no-repeat;
  padding-left: 24px;
}

#sidebar ul.twitter-list li a:hover {
  text-decoration: underline;
}

#content {
  width: 740px;
  float: left;
}
  
#content .box {
  background: #eee;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

#content .box.last {
  margin-bottom: 20px;
}

#content .box h2 {
  font-size: 13pt;
  color: #AE1817;
  background: #ddd;
  padding: 0 15px;
}

#content .box h3 {
  font-size: 12pt;
  padding: 0 15px;
  margin-top: 20px;
}

#content .box p {
  font-size: 11pt;
  margin: 20px 0 10px 0;
  padding: 0 15px;
}

#content .box p#p-zoom {
  font-size: 9pt;
  color: #666;
  margin: 0 0 10px 0;
  padding: 0 15px;
}

#content .box address {
  font-size: 11pt;
  margin: 0 0 10px 0;
  padding: 0 15px;
}

#content .box img#map-zoom-out, #content .box img#map-zoom-in {
  border: 10px solid #ccc;
  margin-left: 15px;
}

#content .box img#map-zoom-in {
  display: none;
}

#content .box a.maps {
  display: block;
  margin: 10px 15px;
}

#content #warning {
  height: 70px;
  background: #FFDB70 url('/images/bg_warning.jpg') no-repeat;
  margin: 0 0 40px 0;
}

#content #warning p {
  font-size: 12pt;
  padding: 22px 0 0 80px;
}

#footer {
  clear: both;
  font-size: 9pt;
  color: #fff;
  background: #F03900;
  padding: 5px 15px;
}

#footer address {
  font-style: normal;
}

#footer a {
  color: #fff;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}