body {
  background-color: #CCC;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
  text-decoration:none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* Dev in Sampa Style */
#nav-menu ul {
  margin-left: -40px;
}
#nav-menu ul li {
  display: block;
  float: left;
  padding: 0px 10px;
  margin: 0 2px 0 0;
  position: relative;
  background-color: #FFF;
}

#container {
  width: 800px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px 0px 5px 5px;
  margin-top: 20px;
  border: solid 3px #999;
  background-color: #AAA;
}

#container #main {
  width: 580px;
  height: auto;
  float: left;
  padding: 10px;
  background-color: #FFF;
}

#container #sidebar {
  width: 185px;
  height: auto;
  float: left;
  margin: 0px 5px;
  padding: 5px 0px 5px 5px;
  background-color: #CCC;
}

#map-zoom-in, #map-zoom-out {
  width: 580px;
  height: 580px;
}
