<% title "Inscrição", false %>

<div class="box">
  <h2>Inscrição</h2>

  <p>Todos estão perguntado: O Evento será gratuíto? Qual o valor da inscrição? Bom, gostaríamos de fazer o evento gratuíto, mas devido a limitação de vagas (apenas 100), vamos cobrar uma taxa simbólica, que usaremos para limitar as inscrições </p>
</div>

<div class="box">
  <h2>Valor da inscrição</h2>
  
  <p>R$ 35,00 (trinta e cinco reais).</p>
</div>

<div class="box">
  <h2>Formulário de inscrição</h2>
  
  <%= render :partial => "form" %>
</div>