<% title "Inscrição", false %>

<div class="box">
	<h2>Valor da inscrição</h2>
	<p>A definir...</p>
</div>

<div class="box">
	<h2>Formulário de inscrição</h2>
	<% if Attendee.overload? %>
		<p>Infelizmente as vagas para participar do Dev in Sampa se esgotaram. Atualmente estamos processando as inscrições efetuadas, dentro disso pode ser que abra novamente, neste caso fique ligado no <a href="http://twitter.com/devinsampa">@devinsampa no twitter</a>, para saber sobre possíveis vagas.</p>
	<% else %>
		<p>As inscrições serão abertas <%= formatted_date(Date.new(2011, 7, 26)) %>, a partir das 10:00 (Horário de Brasília)</p>
		<%= render :partial => "form" %>
	<% end %>
</div>
