<% title "Inscrição", false %>

<div class="box">
  <h2>Inscrição</h2>

  <p>Todos estão perguntado: O Evento será gratuíto? Qual o valor da inscrição? Bom, gostaríamos de fazer o evento gratuíto, mas devido a limitação de vagas (apenas 100), vamos cobrar uma taxa simbólica, que usaremos para limitar as inscrições </p>
</div>

<div class="box">
  <h2>Valor da inscrição</h2>
  
  <p>R$ 35,00 (trinta e cinco reais).</p>
</div>

<div class="box">
  <% if Attendee.overload? %>
    <h2>Inscrições encerradas</h2>
    
    <p>Infelizmente as vagas para participar do Dev in Sampa se esgotaram. Atualmente estamos processando as inscrições efetuadas, dentro disso pode ser que abra novamente, neste caso fique ligado no <a href="http://twitter.com/devinsampa">@devinsampa no twitter</a>, para saber sobre possíveis vagas.</p>
  <% else %>
    <h2>Formulário de inscrição</h2>
  
    <% if no_time_to_register? %>
    <p><strong>Ontem, quando liberamos as inscrições, além de uns BUGs que rolaram e corrigidos on the fly, tivemos problemas quanto a forma de pagamnto via PagSeguro. Então, resolvemos suspender as inscrições. Parece que já normalizou e vamos reabrir as inscrições às 11:00 (horário de Brasília e baseado no horário do nosso servidor), isso se não rolar outro <a href="http://live.blogblogs.com.br/apagao">apagão</a>.</strong></p>
    <% end %>
    
    <%= render :partial => "form" %>
  <% end %>
</div>

<div class="box">
  <h2>Fiz a inscrição, mas ainda não consegui efetuar o pagamento, e agora? </h2>
  
  <p>Aos que ainda não conseguiram efetuar o pagamento, vamos deixar um prazo (data a definir) para que o mesmo possa ser efetuado. Após essa data, vamos mandar um e-mail de aviso que a inscrição será cancelada, para dar lugar a outra pessoa que estiver interessada.</p>
</div>