<% title "Processando pagamento", false %>

<div class="box">
  <h2>Processando pagamento</h2>

  <p>Obrigado por passar pelo processo de pagamento. No momento estamos aguardando a confirmação do seu pagamento, em caso de duvida entre em contato</p>
</div>