<div class="box">
	<h2><a name="2009"> </a>2009</h2>
	<p>
		foi o primeiro, tivemos alguns erros, a horário estrapolou o previsto, mas foi um grande sucesso.
		No final, foram sortados alguns brindes, como descontos em curso na Caelum e Aspercom, além de
		vale-compras da Saraiva. Veja como foi!
	</p>

	<ul>
		<li>
			<a href="http://twitter.com/fabiokung">Fabio Kung</a> em
			<strong>Cloud Computing. E eu com isso?</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2916266/">[vídeo]</a>
			<a href="http://www.slideshare.net/fabiokung/cloud-computing-e-eu-com-isso">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/guilhermecaelum">Guilherme Silveira</a> e
			<a href="http://twitter.com/adrianoalmeida7">Adriano Almeida</a> em
			<strong>Do REST ao RESTFul</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2916029/">[vídeo]</a>
			<a href="http://www.slideshare.net/guilhermecaelum/caelum-2009-rest-ao-restful">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/gwidion">João S. O. Bueno</a> em
			<strong>Desenvolvimento de jogos com Python</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2913288/">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/josevalim">José Valim</a> em
			<strong>Tópicos de machine learning: classificação de textos</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2912901/">[vídeo]</a>
			<a href="http://www.slideshare.net/plataformatec/classificao-de-textos-dev-in-sampa-28nov2009">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/lfcipriani">Luis Cipriani</a> em
			<strong>Web em tempo real com Ruby e XMPP</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2914797/">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/fnando">Nando Vieira</a> em
			<strong>Escrevendo testes no JavaScript</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2915152/">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/radamar">Radamés Ajna</a> em
			<strong>Arduino - Computação Física</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2915093/">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/almeidaricardo">Ricardo Almeida</a> em
			<strong>Buscas poderosas com Solr</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2915026/">[vídeo]</a>
			<a href="http://www.slideshare.net/almeidaricardo/buscas-poderosas-com-solr">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/rodrigoy">Rodrigo Yoshima</a> em
			<strong>Design de Software: As técnicas esquecidas...</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2916385/">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/rferraz">Ronaldo Ferraz</a> em
			<strong>Criando sua própria linguagem de programação</strong><br/>
			<a href="http://agaelebe.blip.tv/file/2913408/">[vídeo]</a>
			<a href="http://www.slideshare.net/ronaldoferraz/criando-sua-prpria-linguagem-de-programao">[apresentação]</a>
		</li>
	</ul>
</div>