<div class="box">
	<h2><a name="2010"> </a>2010</h2>
	<p>
		Neste ano, resolvemos experimentar duas trilhas de palestras, uma voltada a desenvolvimento,
		sendo mais técnica e outra voltada a boas práticas para desenvolvimento. E também, rolou camiseta
		para todos os participantes e almoço na faixa. Veja como foi!
	</p>
	<ul>
		<li>
			<a href="http://twitter.com/aleuai">Alessandro Martins</a> em
			<strong>A droga do talento</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-a-droga-do-talento-alessandro-martins-4054678">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/sergio_caelum">Sérgio Lopes</a> em
			<strong>Aplicações móveis com Android</strong><br/>
		</li>
		<li>
			<a href="http://twitter.com/almeidaricardo">Ricardo Almeida</a> em
			<strong>BDD e Integração Contínua</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-bdd-e-integra%C3%A7%C3%A3o-cont%C3%ADnua-ricardo-almeida-4054628">[vídeo]</a>
			<a href="http://www.slideshare.net/almeidaricardo/bdd-e-ci-4974575">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/lucashungaro">Lucas Húngaro</a> em
			<strong>Cartas do Front - o que dois anos de experiência em aplicações Ruby e Rails em produção me ensinaram</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-cartas-do-front-o-que-dois-anos-de-experi%C3%AAncia-em-aplica%C3%A7%C3%B5es-ruby-e-rails-em-produ%C3%A7%C3%A3o-me-ensinaram-lucas-h%C3%BAngaro-4054568">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/dalssoft">David Lojudice</a> em
			<strong>Case CMS Abril - System of Systems e Arquitetura (quase) Caótica</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-case-cms-abril-system-of-systems-e-arquitetura-quase-ca%C3%B3tica-david-lojudice-sobrinho-4056583">[vídeo]</a>
			<a href="http://www.slideshare.net/dalssoft/case-cms-abril-system-of-systems-e-arquitetura-quase-catica">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/hugocorbucci">Hugo Corbucci</a> em
			<strong>Código limpo</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-c%C3%B3digo-limpo-hugo-corbucci-outro-%C3%A2ngulo-4043487">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/radamar">Radamés Ajna</a> em
			<strong>Computação Física com Arduino - Materializando seus programas</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-computa%C3%A7%C3%A3o-f%C3%ADsica-com-arduino-materializando-seus-programas-radam%C3%A9s-ajna-4039575">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/henriquebastos">Henrique Bastos</a> em
			<strong>Ecossistema do Desenvolvimento Ágil</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-ecossistema-do-desenvolvimento-%C3%A1gil-henrique-bastos-4054655">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/emerleite">Emerson Macedo</a> em
			<strong>NodeJS - A performance que eu sempre quis ter</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-nodejs-a-performance-que-eu-sempre-quis-ter-%C3%A9merson-macedo-4049722">[vídeo]</a>
			<a href="http://www.slideshare.net/emerleite/nodejs-a-performance-que-eu-sempre-quis-ter">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/shiota">Eduardo Shiota Yasuda</a> em
			<strong>O design e a interface no mundo da programação</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-o-design-e-a-interface-no-mundo-da-programa%C3%A7%C3%A3o-eduardo-shiota-yasuda-4054717">[vídeo]</a>
			<a href="http://www.slideshare.net/eshiota/o-design-e-a-interface-no-mundo-da-programao">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/smergulhao">Silvestre Mergulhão</a> e
			<a href="http://twitter.com/henriquecrang">Henrique Andrade</a> em
			<strong>Por que eu sou fanático por testes e você é um bundão</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-por-que-eu-sou-fan%C3%A1tico-por-testes-e-voc%C3%AA-%C3%A9-um-bund%C3%A3o-sylvestre-mergulh%C3%A3o-e-henrique-andrade-4054753">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/danielfmt">Daniel Martins</a> em
			<strong>Programação Funcional e Concorrente para JVM com Clojure</strong><br/>
			<a href="http://danielfm.github.com/clojure-devinsampa/">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/arthur_oreana">Arthur Cesar Oreana</a> em
			<strong>RIP: Rest In Peace - RESTFul WebServices</strong>
		</li>
		<li>
			<a href="http://twitter.com/nuxlli">Éverton Ribeiro</a> em
			<strong>Ruby e Erlang de mãos dadas</strong><br/>
			<a href="http://www.slideshare.net/nuxlli/ruby-e-erlang-de-mos-dadas">[apresentação]</a>
		</li>
	</ul>
</div>
