<div class="box">
	<h2><a name="2011"> </a> 2011</h2>
	<p>
		Neste ano, voltamos ao formado original, de apenas uma trilha de palestras.
		Rolaram poucos mimimis por causa do valor, mas o pessoal esquece que tem
		coffee-breakes e almoço na faixa, camisetas e brindes. Ficou disponível para
		entretenimento de todos, um atari e foi um dos sucessos do evento. Foram
		sorteados 2 cursos do howtocode, vales-compra na saraiva, o Atari que estava
		alegrando os participantes também entrou para sorteio e um Kindle. Veja como foi!
	</p>

	<ul>
		<li>
			<a href="http://twitter.com/lucashungaro">Lucas Húngaro</a> em
			<strong>SOLID através de BDD - um guia prático para rubistas</strong><br/>
			<a href="http://www.slideshare.net/lucashungaro/solid-atravs-de-bdd-um-guia-prtico-para-rubistas">[apresentação]</a>
			<a href="http://blip.tv/dev-in-sampa/devinsampa-2011-solid-através-de-bdd-um-guia-para-rubistas-lucas-húngaro-5509248">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/wcolen">William Colen</a> e
			<a href="http://twitter.com/wseidel">Wesley Seidel</a> em
			<strong>Processamento Automático da Língua Portuguesa</strong><br/>
			<a href="http://www.slideshare.net/wcolen/pln-dev-insampa">[apresentação]</a>
			<a href="http://blip.tv/dev-in-sampa/devinsampa-2011-processamento-automático-da-l%C3%ADngua-portuguesa-wesley-e-willian-5509940">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/shiota">Eduardo Shiota Yasuda</a> em
			<strong>User Experience para Developers</strong><br/>
			<a href="http://www.slideshare.net/eshiota/user-experience-para-developers-dev-in-sampa-2011">[apresentação]</a>
			<a href="http://blip.tv/dev-in-sampa/devinsampa-2011-user-experience-para-developers-eduardo-shiota-yasuda-5511204">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/renatoelias">Renato Elias</a> em
			<strong>Tomando o controle de seus eventos</strong>
			<a href="http://blip.tv/dev-in-sampa/devinsampa-2011-tomando-o-controle-de-seus-eventos-renato-elias-5508217">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/qmx">Douglas Campos</a> em
				<strong>Bytecode e VM Design for Dummies</strong><br/>
				<a href="http://cdn.qmx.me/presentations/2011/devinsampa/index.html">[apresentação]</a>
		</li>
		<li>
			<a href="http://twitter.com/klauswuestefeld">Klaus Wuestefeld</a> em
			<strong>Computação Soberana</strong><br/>
			<a href="http://blip.tv/dev-in-sampa/devinsampa-2011-computação-soberana-klaus-wuestefeld-5512129">[vídeo]</a>
		</li>
		<li>
			<a href="http://twitter.com/chesterbr">Chester (Carlos Duarte do Nascimento)</a> em
			<strong>Programação para Atari 2600</strong><br/>
			<a href="http://www.slideshare.net/chesterbr/programao-para-atari-2600">[apresentação]</a>
		</li>
	</ul>
</div>
