<p>
Editora Abril S/A - Mezanino
<address>Av. das Nações Unidas, 7221 - Alto de Pinheiros - São Paulo, SP, 05425-070</address>
</p>

<h3>Mapa</h3>
<p id="p-zoom">
  (clique na imagem para alterar o zoom)
<p>

<img src="/images/staticmap_zoom_out.png" id="map-zoom-out"/>
<img src="/images/staticmap_zoom_in.png" id="map-zoom-in" style="display:none" />

<a href="http://maps.google.com/maps?q=Av.+das+Na%C3%A7%C3%B5es+Unidas,7221,S%C3%A3o+Paulo,SP,Brazil&hl=pt-BR&cd=1&ei=-RHhSuXYBaH-zQTV1M2ECg&sig2=qtfQaVdIk8-umYvuX--pKQ&ie=UTF8&view=map&cid=1930265054114212525&iwloc=A">Ver no Google Maps</a>