<div class="box last">
	<h2>Onde?</h2>
	<p>Editora Abril S/A - Auditório</p>
	<address>Av. das Nações Unidas, 7221 - Alto de Pinheiros - São Paulo, SP, 05425-070</address>
	
	<h3>Mapa</h3>
	<p id="p-zoom"><strong>(clique na imagem para alterar o zoom)</strong></p>

	<img src="/images/staticmap_zoom_out.png" id="map-zoom-out" alt="apa de localização" />
	<img src="/images/staticmap_zoom_in.png" id="map-zoom-in" alt="apa de localização" />
	
	<a href="http://maps.google.com/maps?q=Av.+das+Na%C3%A7%C3%B5es+Unidas,7221,S%C3%A3o+Paulo,SP,Brazil&amp;hl=pt-BR&amp;cd=1&amp;ei=-RHhSuXYBaH-zQTV1M2ECg&amp;sig2=qtfQaVdIk8-umYvuX--pKQ&amp;ie=UTF8&amp;view=map&amp;cid=1930265054114212525&amp;iwloc=A" class="maps"><%= image_tag 'ico_google_maps.jpg', :alt => 'Ver no Google Maps' %></a>
</div>