<% title "Divulgar", false %>

<div class="box">
  <h2>Divulgar</h2>

  <p>Ajude a divulgar o Dev in Sampa, usando um de nossos banners. Para usá-los, basta copiar o código em uma das caixas abaixo e colar em seu site ou blog.</p>
</div>


<div id="banner-eu-vou" class="box banner">
  <h2>Banner "Dev in Sampa - Eu vou" (formato: 200 x 67)</h2>
  <textarea readonly="readonly" name="banner-eu-vou-200x67" rows="5" cols="40" class="copy-banner">&lt;a href="http://www.devinsampa.com.br/"&gt;&lt;img src="http://www.devinsampa.com.br/images/banner_dev_in_sampa.jpg" width="200" height="67" alt="Banner Dev In Sampa"/&gt;&lt;/a&gt;</textarea>
  <br/>
  <a href="http://www.devinsampa.com.br/"><img src="/images/banner_dev_in_sampa.jpg" width="200" height="67" alt="Banner Dev In Sampa"/></a>
</div>

<div id="banner-animado" class="box banner">
  <h2>Banner "Dev in Sampa com data" (formato: 310 x 90)</h2>
  <textarea readonly="readonly" name="banner-animado-310x90" rows="5" cols="40" class="copy-banner">&lt;a href="http://www.devinsampa.com.br/"&gt;&lt;img src="http://www.devinsampa.com.br/images/dev-in-sampa.gif" width="310" height="90" alt="Dev In Sampa"/&gt;&lt;/a&gt;</textarea>  
  <br/>
  <a href="http://www.devinsampa.com.br/"><img src="/images/dev-in-sampa.gif" width="310" height="90" alt="Dev In Sampa"/></a>
</div>
