<div class="box">
  <h2>Feedback</h2>
  
  <p>Quem votou, votou. Quem não votou, não vota mais! Agora é só esperar nossa apuração e veremos os resultados! Obrigado a quem votou! Obrigado a quem não atrapalhou!</p>
</div>
