<div class="box">
	<h2>Dev in Sampa</h2>

	<p>
	  É o primeiro encontro de desenvolvedores de software em São Paulo, onde  serão ministradas
	  palestras voltados a desenvolvimento, arquitetura e engenharia de software.
	</p>
</div>

<div class="box">
	<h2>Quando?</h2>

	<p>
		Será realizado dia 28/11 (sábado), das 9:00 às 18:00.
	</p>
</div>

<%= render :partial => 'where' %>

