<div class="box">
	<h2>Dev in Sampa</h2>

	<p>
	  É o primeiro encontro de desenvolvedores de software em São Paulo, onde  serão ministradas
	  palestras voltados a desenvolvimento, arquitetura e engenharia de software.
	</p>
</div>

<div class="box">
	<h2>Quando?</h2>

	<p>
		Será realizado dia 28/11 (sábado), das 9:00 às 18:00.
	</p>
</div>

<div class="box">
	<h2>Onde?</h2>
	<p>Editora Abril S/A - Auditório</p>
	<address>Av. das Nações Unidas, 7221 - Alto de Pinheiros - São Paulo, SP, 05425-070</address>
	
	<h3>Mapa</h3>
	<p id="p-zoom"><strong>(clique na imagem para alterar o zoom)</strong></p>

	<img src="/images/staticmap_zoom_out.png" id="map-zoom-out" alt="Mapa de localização com zoom out" />
	<img src="/images/staticmap_zoom_in.png" id="map-zoom-in" alt="Mapa de localização com zoom in" />
	
	<a href="http://maps.google.com/maps?q=Av.+das+Na%C3%A7%C3%B5es+Unidas,7221,S%C3%A3o+Paulo,SP,Brazil&amp;hl=pt-BR&amp;cd=1&amp;ei=-RHhSuXYBaH-zQTV1M2ECg&amp;sig2=qtfQaVdIk8-umYvuX--pKQ&amp;ie=UTF8&amp;view=map&amp;cid=1930265054114212525&amp;iwloc=A" class="maps"><%= image_tag 'ico_google_maps.jpg', :alt => 'Ver no Google Maps' %></a>
</div>

<div class="box last">
  <h2>Estacionamento?</h2>
  <p>
    <img src="/images/where_park.png" alt="Mapa de estacionamentos"><br />
    Infelizmente não conseguimos estacionamento no prédio da Abril, então o mapa acima é para tentar te ajudar parar o carro nas proximidades, com possíveis pontos de estacionamento. O bloco verde é o prédio da Abril, as linhas azul são as ruas onde é possível estacionar e os pontos vermelhos são estacionamentos particulares, mas não sabemos se vão funcionar no sábado, mas caso funcione, normalmente a diária fica torno de R$ 15,00.
  </p>
</div>