<h2>Dev in Sampa</h2>

<p>
  é o primeiro encontro de desenvolvedores de software em São Paulo, onde  serão ministradas
  palestras voltados a desenvolvimento, arquitetura e engenharia de software.
</p>

<h2>Quando?</h2>

Será realizado dia 28/11 (sábado), das 9:00 às 18:00.

<h2>Onde?</h2>

<!-- <p>
  A definir
</p> -->
<%= render :partial => 'where' %>

