<% title "Museu", false %>

<div class="box">
	<h2>2009</h2>
	<p>
		foi o primeiro, tivemos alguns erros, a horário estrapolou o previsto, mas foi um grande sucesso.
		No final, foram sortados alguns brindes, como descontos em curso na Caelum e Aspercom, além de
		vale-compras da Saraiva. Veja como foi!
	</p>

	<ul>
		<li>
			<a href="http://twitter.com/fabiokung">Fabio Kung</a> em
			<a href="http://agaelebe.blip.tv/file/2916266/"><strong>Cloud Computing. E eu com isso?</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/guilhermecaelum">Guilherme Silveira</a> e
			<a href="http://twitter.com/adrianoalmeida7">Adriano Almeida</a> em
			<a href="http://agaelebe.blip.tv/file/2916029/"><strong>Do REST ao RESTFul</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/gwidion">João S. O. Bueno</a> em
			<a href="http://agaelebe.blip.tv/file/2913288/"><strong>Desenvolvimento de jogos com Python</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/josevalim">José Valim</a> em
			<a href="http://agaelebe.blip.tv/file/2912901/"><strong>Tópicos de machine learning: classificação de textos</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/lfcipriani">Luis Cipriani</a> em
			<a href="http://agaelebe.blip.tv/file/2914797/"><strong>Web em tempo real com Ruby e XMPP</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/fnando">Nando Vieira</a> em
			<a href="http://agaelebe.blip.tv/file/2915152/"><strong>Escrevendo testes no JavaScript</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/radamar">Radamés Ajna</a> em
			<a href="http://agaelebe.blip.tv/file/2915093/"><strong>Arduino - Computação Física</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/almeidaricardo">Ricardo Almeida</a> em
			<a href="http://agaelebe.blip.tv/file/2915026/"><strong>Buscas poderosas com Solr</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/rodrigoy">Rodrigo Yoshima</a> em
			<a href="http://agaelebe.blip.tv/file/2916385/"><strong>Design de Software: As técnicas esquecidas...</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/rferraz">Ronaldo Ferraz</a> em
			<a href="http://agaelebe.blip.tv/file/2913408/"><strong>Criando sua própria linguagem de programação</strong></a>
		</li>
	</ul>
</div>

<div class="box">
	<h2>2010</h2>
	<p>
		Neste ano, resolvemos experimentar duas trilhas de palestras, uma voltada a desenvolvimento,
		sendo mais técnica e outra voltada a boas práticas para desenvolvimento. E também, rolou camiseta
		para todos os participantes e almoço na faixa. Veja como foi!
	</p>
	<ul>
		<li>
			<a href="http://twitter.com/aleuai">Alessandro Martins</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-a-droga-do-talento-alessandro-martins-4054678"><strong>A droga do talento</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/sergio_caelum">Sérgio Lopes</a> em
			<a href="javascript:alert('Estamos devendo o vídeo')"><strong>Aplicações móveis com Android</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/almeidaricardo">Ricardo Almeida</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-bdd-e-integra%C3%A7%C3%A3o-cont%C3%ADnua-ricardo-almeida-4054628"><strong>BDD e Integração Contínua</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/lucashungaro">Lucas Húngaro</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-cartas-do-front-o-que-dois-anos-de-experi%C3%AAncia-em-aplica%C3%A7%C3%B5es-ruby-e-rails-em-produ%C3%A7%C3%A3o-me-ensinaram-lucas-h%C3%BAngaro-4054568"><strong>Cartas do Front - o que dois anos de experiência em aplicações Ruby e Rails em produção me ensinaram</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/dalssoft">David Lojudice</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-case-cms-abril-system-of-systems-e-arquitetura-quase-ca%C3%B3tica-david-lojudice-sobrinho-4056583"><strong>Case CMS Abril - System of Systems e Arquitetura (quase) Caótica</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/hugocorbucci">Hugo Corbucci</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-c%C3%B3digo-limpo-hugo-corbucci-outro-%C3%A2ngulo-4043487"><strong>Código limpo</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/radamar">Radamés Ajna</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-computa%C3%A7%C3%A3o-f%C3%ADsica-com-arduino-materializando-seus-programas-radam%C3%A9s-ajna-4039575"><strong>Computação Física com Arduino - Materializando seus programas</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/henriquebastos">Henrique Bastos</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-ecossistema-do-desenvolvimento-%C3%A1gil-henrique-bastos-4054655"><strong>Ecossistema do Desenvolvimento Ágil</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/emerleite">Emerson Macedo</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-nodejs-a-performance-que-eu-sempre-quis-ter-%C3%A9merson-macedo-4049722"><strong>NodeJS - A performance que eu sempre quis ter</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/shiota">Eduardo Shiota Yasuda</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-o-design-e-a-interface-no-mundo-da-programa%C3%A7%C3%A3o-eduardo-shiota-yasuda-4054717"><strong>O design e a interface no mundo da programação</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/smergulhao">Silvestre Mergulhão</a> e
			<a href="http://twitter.com/henriquecrang">Henrique Andrade</a> em
			<a href="http://blip.tv/dev-in-sampa/dev-in-sampa-2010-por-que-eu-sou-fan%C3%A1tico-por-testes-e-voc%C3%AA-%C3%A9-um-bund%C3%A3o-sylvestre-mergulh%C3%A3o-e-henrique-andrade-4054753"><strong>Por que eu sou fanático por testes e você é um bundão</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/danielfmt">Daniel Martins</a> em
			<a href="javascript:alert('Estamos devendo o vídeo, sorry! :(')"><strong>Programação Funcional e Concorrente para JVM com Clojure</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/arthur_oreana">Arthur Cesar Oreana</a> em
			<a href="javascript:alert('Estamos devendo o vídeo, sorry! :(')"><strong>RIP: Rest In Peace - RESTFul WebServices</strong></a>
		</li>
		<li>
			<a href="http://twitter.com/nuxlli">Éverton Ribeiro</a> em
			<a href="javascript:alert('Estamos devendo o vídeo, sorry! :(')"><strong>Ruby e Erlang de mãos dadas</strong></a>
		</li>
	</ul>
</div>

<div class="box">
	<h2>2011</h2>
	<p>
		Neste ano, voltamos ao formado original, de apenas uma trilha de palestras.
		Rolaram alguns mimimis por causa do valor, mas o pessoal esquece que tem
		coffee-breakes e almoço na faixa, camisetas e brindes.
		<a href="/palestras">Veja o que vai rolar</a>
	</p>

</div>