<% title "Como foi em 2009?", false %>

<div class="box">
  <h2>Como foi em 2009?</h2>

  <p>Foi o primeiro, tivemos alguns erros, a horário estrapolou o previsto, mas foi um grande sucesso</p>
</div>

<div class="box">
  <h2>Quem palestou?</h2>

  <p>
    <ul>
      <li><a href="http://twitter.com/fabiokung">Fabio Kung</a> em <strong>Cloud Computing. E eu com isso?</strong></li>
      <li><a href="http://twitter.com/guilhermecaelum">Guilherme Silveira</a> e <a href="http://twitter.com/adrianoalmeida7">Adriano Almeida</a> em <strong>Do REST ao RESTFul</strong></li>
      <li><a href="http://twitter.com/gwidion">João S. O. Bueno</a> em <strong>Desenvolvimento de jogos com Python</strong></li>
      <li><a href="http://twitter.com/josevalim">José Valim</a> em <strong>Tópicos de machine learning: classificação de textos</strong></li>
      <li><a href="http://twitter.com/lfcipriani">Luis Cipriani</a> em <strong>Web em tempo real com Ruby e XMPP</strong></li>
      <li><a href="http://twitter.com/fnando">Nando Vieira</a> em <strong>Escrevendo testes no JavaScript</strong></li>
      <li><a href="http://twitter.com/radamar">Radamés Ajna</a> em <strong>Arduino - Computação Física</strong></li>
      <li><a href="http://twitter.com/almeidaricardo">Ricardo Almeida</a> em <strong>Buscas poderosas com Solr</strong></li>
      <li><a href="http://twitter.com/rodrigoy">Rodrigo Yoshima</a> em <strong>Design de Software: As técnicas esquecidas...</strong></li>
      <li><a href="http://twitter.com/rferraz">Ronaldo Ferraz</a> em <strong>Criando sua própria linguagem de programação</strong></li>
    </ul>
  </p>
</div>

<div class="box">
  <h2>Videos?</h2>

  <p>Os vídeos estão disponíveis no <a href="http://agaelebe.blip.tv/">canal</a> do <a href="http://twitter.com/agaelebe">Hugo Borges</a> no <a href="http://blip.tv/">blip.tv</a></p>

  <div class='box-videos'>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2912901/" title="Classifica&amp;#231;&amp;#227;o de Textos">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_jose_valim599-481-736.jpg" alt="Classifica&amp;#231;&amp;#227;o de Textos">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2912901/">Classifica&#231;&#227;o de Textos</a></span><br/>
        <span class="EpisodeDuration">Duration: 38:41</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2916266/" title="Cloud Computing">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_fabio_kung891-678-539.jpg" width="120" height="90" alt="Cloud Computing">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2916266/">Cloud Computing</a></span><br/>
        <span class="EpisodeDuration">Duration: 52:35</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2915152/" title="Escrevendo testes com Javascript">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_29_devinsampa_nando_vieira582-267-0.jpg" width="120" height="90" alt="Escrevendo testes com Javascript">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2915152/">Escrevendo testes com Javascript</a></span><br/>
        <span class="EpisodeDuration">Duration: 38:56</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2915093/" title="Arduino - Computa&amp;#231;&amp;#227;o F&amp;#237;sica">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_radames766-244-346.jpg" width="120" height="90" alt="Arduino - Computa&amp;#231;&amp;#227;o F&amp;#237;sica">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2915093/">Arduino - Computa&#231;&#227;o F&#237;sica</a></span><br/>
        <span class="EpisodeDuration">Duration: 55:31</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2915026/" title="Buscas poderosas com Solr">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_ricardo_almeida850-759-959.jpg" width="120" height="90" alt="Buscas poderosas com Solr">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2915026/">Buscas poderosas com Solr</a></span><br/>
        <span class="EpisodeDuration">Duration: 44:56</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2913408/" title="Criando sua pr&amp;#243;pria linguagem de programa&amp;#231;&amp;#227;o">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_ronaldo_ferraz458-942-931.jpg" width="120" height="90" alt="Criando sua pr&amp;#243;pria linguagem de programa&amp;#231;&amp;#227;o">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2913408/">Criando sua pr&#243;pria linguagem de programa&#231;&#227;o</a></span><br/>
        <span class="EpisodeDuration">Duration: 59:22</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2916385/" title="Design de Software: As t&amp;#233;cnicas esquecidas">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_rodrigo_yoshima969-311-424.jpg" width="120" height="90" alt="Design de Software: As t&amp;#233;cnicas esquecidas">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2916385/">Design de Software: As t&#233;cnicas esquecidas</a></span><br/>
        <span class="EpisodeDuration">Duration: 39:33</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2916029/" title="Do REST ao RESTFul">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_guilherme_adriano862-457-776.jpg" width="120" height="90" alt="Do REST ao RESTFul">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2916029/">Do REST ao RESTFul</a></span><br/>
        <span class="EpisodeDuration">Duration: 51:50</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2913288/" title="Desenvolvimento de Jogos com Python">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_joao_bueno201-813-475.jpg" width="120" height="90" alt="Desenvolvimento de Jogos com Python">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2913288/">Desenvolvimento de Jogos com Python</a></span><br/>
        <span class="EpisodeDuration">Duration: 55:54</span>
      </div>
    </div>

    <div class="box-blip">
      <div class="holder">
        <a href="http://agaelebe.blip.tv/file/2914797/" title="Web em tempo real com Ruby e XMPP">
          <img class="thumb" src="http://a.images.blip.tv/Agaelebe-2009_11_28_devinsampa_luis_cipriani897-276-404.jpg" width="120" height="90" alt="Web em tempo real com Ruby e XMPP">
        </a>
      </div>
      <div class="name_episode">
        <span class="episode"><a href="http://agaelebe.blip.tv/file/2914797/">Web em tempo real com Ruby e XMPP</a></span><br/>
        <span class="EpisodeDuration">Duration: 53:35</span>
      </div>
    </div>

  </div>

</div>
