<% title "Inscrição", false %>

<div class="box">
  <h2>Inscrição</h2>

  <p>Todos estão perguntado: O Evento será gratuíto? Qual o valor da inscrição? Bom, gostaríamos de fazer o evento gratuíto, mas devido a limitação de vagas (apenas 100), vamos cobrar uma taxa simbólica, que usaremos para limitar as inscrições </p>
</div>

<div class="box">
  <h2>Valor da inscrição</h2>
  
  <p>R$ 35,00 (trinta e cinco reais).</p>
</div>

<div class="box">
  <h2>Como posso me inscrever?</h2>
  
  <p>Não sei se reparou, mas o site do Dev in Sampa está em constante desenvolvimento. Então, fique atento ao <a href="http://twitter.com/devinsampa">Dev in Sampa no Twitter</a>, pois é lá que vamos divulgar a abertura das inscrições para o evento. E como as vagas são bem limitadas, fique ligado!</p>
</div>
