<div class="box">
  <h2>Quero palestrar</h2>

  <p>
    Quer palestrar? Envie sua proposta, preenchendo o formulário no endereço abaixo.<br/><br/>
    <a href="http://zapt.in/6Ln"> http://zapt.in/6Ln</a>
  </p>
</div>
