<% title "Programação", false %>

<div class="box">
  <h2>Programação</h2>
  <p>Segue abaixo nossa agenda:</p>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <th>Horário</th>
      <th>O que rola?</th>
    </tr>
    <tr>
      <td>08:00 - 08:50</td>
      <td>Credenciamento</td>
    </tr>
    <tr>
      <td>08:50 - 09:00</td>
      <td>Abertura</td>
    </tr>
    <tr>
      <td>09:00 - 09:40</td>
      <td>Palestra I</td>
    </tr>
    <tr>
      <td>09:40 - 10:20</td>
      <td>Palestra II</td>
    </tr>
    <tr>
      <td>10:20 - 10:40</td>
      <td>Coffee break</td>
    </tr>
    <tr>
      <td>10:40 - 11:20</td>
      <td>Palestra III</td>
    </tr>
    <tr>
      <td>11:20 - 12:00</td>
      <td>Palestra IV</td>
    </tr>
    <tr>
      <td>12:00 - 14:00</td>
      <td>Intervalo para almoço (*)</td>
    </tr>
    <tr>
      <td>14:00 - 14:40</td>
      <td>Palestra V</td>
    </tr>
    <tr>
      <td>14:40 - 15:20</td>
      <td>Palestra VI</td>
    </tr>
    <tr>
      <td>15:20 - 15:40</td>
      <td>Coffee break</td>
    </tr>
    <tr>
      <td>15:40 - 16:20</td>
      <td>Palestra VII</td>
    </tr>
    <tr>
      <td>16:20 - 17:00</td>
      <td>Palestra VIII</td>
    </tr>
    <tr>
      <td>17:00 - 18:00</td>
      <td>Desconferências</td>
    </tr>
    <tr>
      <td>18:00 em diante</td>
      <td>#horaextra</td>
    </tr>
  </table>
</div>


<div class="box">
  <h2>Observações</h2>
  <p><strong>* Almoço não incluso, infelizmente... :(</strong></p>
  <p>Em breve, vamos disponiblizar uma lista de restaurantes na região</p>
</div>

