<h3>Divulgação</h3>
<div class="divulgation">
	<a href="http://www.agendatech.com.br/" title="Agenda Tech">
		<img src="/images/logo_agendatech.png" alt="Logo Agendatech" />
	</a>
	<a href="http://grokpodcast.com?utm_source=Dev+In+Sampa&amp;utm_campaign=banner" title="Grok Podcast">
		<img src="/images/logo_grok.png" alt="Logo Grok Podcast" />
	</a>
	<a href="http://guru-sp.org/" title="Guru-SP">
		<img src="/images/logo_guru.png" alt="Logo Guru-SP" />
	</a>
	<a href="http://www.gonow.com.br/" title="Gonow">
		<img src="/images/logo_gonow.png" alt="Logo Gonow" />
	</a>
</div>
