<h3>Patrocinador</h3>

<div id="sponsor">
  <a href="http://www.grupoabril.com.br/institucional/editora-abril.shtml?utm_source=devinsampa&utm_medium=portal&utm_campaign=devinsampa_2011"><img src="images/logo_abrilmidia.jpg" alt="Logo Abril Mídia"/></a><br/>
  <a href="http://www.concretesolutions.com.br/"><img src="images/logo_concrete_solutions.png" alt="Logo Concrete Solutions"/></a>
</div>
