<h3>Patrocinador</h3>

<div id="sponsor">
  <a href="http://www.grupoabril.com.br/institucional/abril-digital.shtml">
    <img src="images/logo_abril_digital.jpg" alt="Logo Abril Digital"/>
  </a>
</div>
