  <h3>Patrocinador Premium</h3>

  <div id="gonow" class="sponsor">
    <%= link_to image_tag("logo_gonow.png", :alt => "Gonow"), "http://www.gonow.com.br", :title => "Gonow - Respiramos tudo relacionado a tecnologia e design."%>
  </div>

  <h3>Patrocínio</h3>
  
  <div id="aspercom" class="sponsor">
    <%= link_to image_tag("logo_aspercom.png", :alt => "Aspercom"), "http://www.aspercom.com.br", :title => "Aspercom Treinamentos"%>
  </div>
  
  <div id="caelum" class="sponsor">
    <%= link_to image_tag("logo_caelum.png", :alt => "Caelum"), "http://www.caelum.com.br", :title => "Caelum | Ensino e Inovação - Cursos de Java, Scrum, Ruby on Rails, Flex"%>
  </div>
  
  <div id="locaweb" class="sponsor">
    <%= link_to image_tag("logo_locaweb.png", :alt => "Locaweb"), "http://www.locaweb.com.br", :title => "Locaweb - Hospedagem de Sites e Serviços de Internet"%>
  </div>
