  <h3>Patrocinador Premium</h3>

  <div id="contact" class="sponsor">
    Ajude-nos a fazer<br/>
    o próximo Dev in Sampa<br/>
    E fiquem bem na fita
  </div>

  <h3>Patrocínio</h3>

  <div id="contact" class="sponsor">
    Ajude-nos a fazer<br/>
    o próximo Dev in Sampa<br/>
    E fiquem bem na fita
  </div>
