<h3>Patrocinador</h3>

<div id="sponsor">
  <a href="http://www.abril.com.br/"><img src="images/logo_abril_vpid.jpg" alt="Logo Abril VPID"/></a><br/>
  <a href="http://www.grupoabril.com.br/institucional/abril-digital.shtml"><img src="images/logo_abril_digital.jpg" alt="Logo Abril Digital"/></a>
</div>
