  <h3>Apoio</h3>
  <div id="agaelebe" class="supporter">
    <%= link_to image_tag("logo_agaelebe.png", :alt => "Agaelebe"), "http://www.agaelebe.com.br", :title => "agaelebe  master of n00bs" %>
  </div>
  
  <div id="guru-sp" class="supporter">
    <%= link_to image_tag("logo_guru.png", :alt => "Guru-SP"), "http://www.guru-sp.org", :title => "GURU SP - Grupo de Usuários Ruby de SP"%>
  </div>
  
  <div id="ruby-inside-brasil" class="supporter">
    <%= link_to image_tag("logo_rubyinside.png", :alt => "Ruby Inside Brasil"), "http://www.rubyinside.com.br", :title => "Ruby Inside Brasil: Notícias, links, códigos e dicas diárias sobre Ruby"%>
  </div>
  
  <div id="infoq" class="supporter">
    <%= link_to image_tag("logo_infoq.png", :alt => "InfoQ Brasil"), "http://www.infoq.com/br", :title => "InfoQ: Rastreando mudança e inovação na comunidade de desenvolvimento de software corporativo"%>
  </div>
