<% title "Palestrantes" %>

<div id="speakers">
  <div id="speaker-1" class="speaker-item">
    <h3 class="speaker-name">Rick Ashley</h3>

    <img src="/images/rick-ashley.jpg" alt="Rick Ashley" class="speaker-picture">
    
    <p class="speaker-bio">
      Uma das sensações pop do eclético período entre as décadas de 80 e 90, Rick Astley começou sua carreira em 1985 influenciado pelo soul e pela disco music. Ele era baterista de um grupo de soul chamado FBI, quando foi descoberto pelo produtor musical Peter Waterman, que o convenceu a se mudar para Londres. Devido ao timbre "soulful" de sua voz, durante muito tempo as pessoas achavam que Rick era negro e que ele apenas se limitava a fazer dublagens de suas canções nos videoclipes que fazia. O encarregado por desfazer essas falsas acusações foi seu irmão Mark Astley.
    </p>
    
    <h4 class="speaker-presentation">
      Never Gonna Give You Up
    </h4>
    
    <p id="speaker-description">
      Were no strangers to love<br/>
      You know the rules and so do i<br/>
      A full commitments what Im thinking of<br/>
      You wouldnt get this from any other guy<br/>
<br/>
      I just wanna tell you how Im feeling<br/>
      Gotta make you understand<br/>
<br/>
      * never gonna give you up<br/>
      Never gonna let you down<br/>
      Never gonna run around and desert you<br/>
      Never gonna make you cry<br/>
      Never gonna say goodbye<br/>
      Never gonna tell a lie and hurt you<br/>
<br/>
      Weve know each other for so long<br/>
      Your hearts been aching<br/>
      But youre too shy to say it<br/>
      Inside we both know whats been going on<br/>
      We know the game and were gonna play it<br/>
<br/>
      And if you ask me how Im feeling<br/>
      Dont tell me youre too blind to see<br/>
<br/>
      (* repeat)<br/>
<br/>
      Give you up. give you up<br/>
      Give you up, give you up<br/>
      Never gonna give<br/>
      Never gonna give, give you up<br/>
      Never gonna give<br/>
      Never gonna give, five you up<br/>
<br/>
      I just wanna tell you how Im feeling<br/>
      Gotta make you understand<br/>
<br/>
      (* repeat 3 times)
    </p>
  </div>
</div>
