<div id="content" class="clearfix">
  <%- if show_title? -%>
    <h2><%=h yield(:title) %></h2>
  <%- end -%>

  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>

  <%= yield %>

  <div id="warning">
    <p><strong>Tudo sobre o Dev in Sampa está sujeito à alteração sem aviso prévio. Porém, nossos comunicados serão feitos através <a href="http://twitter.com/devinsampa">no nosso canal no twitter</a>, então fique ligado!</strong></p>
  </div>
</div>