<div id="footer">
  <address>
    &copy; Copyright 2009-2010, Dev in Sampa - Todos os direitos reservados. Tema desenvolvido por <a href="http://www.gustavocardoso.com" title="Gustavo Cardoso">Gustavo Cardoso</a>
  </address>
</div>
