<div id="header" class="clearfix">
	<h1 class="site-name"><%= link_to image_tag('logo_dev.jpg', :alt => "Dev in Sampa"), home_path %></h1>
	<%= image_tag 'banner_data.jpg', :alt => '28/11/2009 das 9:00 às 18:00', :class => 'banner-data' %>
</div>