<div id="sidebar" class="clearfix">
  <h3 class="first">Siga-me</h3>
  
  <a href="http://twitter.com/devinsampa" class="twitter" title="Siga-me no twitter">@devinsampa</a>
  
  <h3>Patrocínio</h3>
  
  <div id="i-want">
    <a href="mailto:tinorj+devinrio@gmail.com?subject=Quero patrocinar!" title="Quero patrocinar!"><div><span>Quero patrocinar!</span></div></a>
  </div>
  
  <h3>Apoio</h3>
  
  <div id="guru-sp">
    <a href="http://www.guru-sp.org/" title="Site do Guru-SP"><div><span>Guru-SP</span></div></a>
  </div>
  
  <h3>Idealização</h3>
  
  <ul class="twitter-list">
    <li><a href="http://twitter.com/tinogomes">Celestino Gomes</a></li>
    <li><a href="http://twitter.com/nuxlli">Everton Ribeiro</a></li>
    <li><a href="http://twitter.com/lfcipriani">Luis Cipriani</a></li>
  </ul>
  
  <h3>Divulge</h3>
  
  <div id="eu-vou-no-twitter">
    <a href="http://twitter.com/?status=Eu+vou+no+%23devinsampa" title="Divulge o Dev in Sampa"><div><span>Eu vou no Dev in Sampa</span></div></a>
  </div>
  
  <!--div id="banner-1">
    <p>banner 1</p>
      <textarea readonly="" name="devinsampa_banner-120x240" style="width: 140px;" rows="5"><a href="http://www.devinsampa.com.br/index.php"><img src="http://www.devinsampa.com.br/images/devinrio_euvou_120x240.gif" alt="Dev in Sampa 2009"/></a></textarea>
  </div-->
</div>
