<div id="sidebar" class="clearfix">
  <h3 class="first">Siga-me</h3>
  
  <a href="http://twitter.com/devinsampa" class="twitter" title="Siga-me no twitter">@devinsampa</a>
  
  <h3>Patrocínio</h3>
  
	<div id="i-want">
		<a href="mailto:tinorj+devinrio@gmail.com?subject=Quero patrocinar!" title="Quero Patrocinar!">
			<%= image_tag 'ico_patrocinio.jpg', :alt => 'Quero patrocinar!' %>
		</a>
	</div>
	
	<div id="speakers">
	 <a href="/quero-palestrar">Quero palestrar</a>
	</div>

  <h3>Apoio</h3>
  
  <div id="guru-sp">
    <a href="http://www.guru-sp.org/" title="Site do Guru-SP"><img src="/images/logo_guru.png" alt="Guru-SP" /></a>
  </div>
  
  <div id="ruby-inside-brasil">
    <a href="http://www.rubyinside.com.br/" title="Site do Ruby Inside Brasil"><img src="/images/logo-ruby-inside-brasil.png" alt="Ruby Inside Brasil" /></a>
  </div>
  
  <h3>Idealização</h3>
  
  <ul class="twitter-list">
    <li><a href="http://twitter.com/tinogomes">Celestino Gomes</a></li>
    <li><a href="http://twitter.com/nuxlli">Everton Ribeiro</a></li>
    <li><a href="http://twitter.com/lfcipriani">Luis Cipriani</a></li>
  </ul>
  
  <h3>Divulge</h3>
  
  <div id="eu-vou-no-twitter">
  	<a href="http://twitter.com/?status=Eu+vou+no+%23devinsampa" title="Divulge o Dev in Sampa"><%= image_tag 'banner_dev_in_sampa.jpg', :alt => 'Eu vou no #devinsampa' %></a>
  </div>
  
  <div id="validator">
    <div id="validator-html">
      <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.devinsampa.com.br%2F"><img
          src="http://www.w3.org/Icons/valid-xhtml10-blue"
          alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
    </div>
      
    <div id="valitador-css">
      <a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fwww.devinsampa.com.br%2F
      "><img style="border:0;width:88px;height:31px"
              src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
              alt="Valid CSS!" /></a>
    </div>
  </div>
</div>
